div.guide {
}

div.keypoints {
  background-color: #F0F0F0
}

div.questions {
  background-color: #F0F0F0
}

.message {
  background: #EFF0F1;
  color: #FFFFFF;
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100vh;
  min-height: 100vh;
  padding: 20px;
  transition: right 300ms;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

#toggle {
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%;
}

#toggle + label {
  position: absolute;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

#toggle + label:after {
  content: '\2630';
  color: #696969;
  font-size: 1.5em;
}

.container {
  transition: margin 300ms;
}

#toggle:checked ~ .message {
  right: 0;
}

#toggle:checked + label:after {
  content: '\2630';
  font-size: 1.5em;
}

.main-background {
  background: url('../img/title-slide.jpg') no-repeat;
  background-size: cover;
}

a {
  color: #696969;
}

a:hover {
  color: #696969;
}
